@using System.Configuration;
@{
  ViewBag.Title = "showFake";
}

<script type="text/lizard-config">
{
  url_schema: '/pageview/showFake',
  models: {
    apis: [],
    filter: function(datas) {
      return {};
    }
  },
  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  showfake: {
    hideloading: true
  },
  viewName: 'showFake',
  controller: '/webapp/demo2.1/webresource/controllers/pageview/showFake.js'
}
</script>

<script id="viewportTmpl" type="text/lizard-template">
<h2 class="guide-title">用法</h2>
<pre><code>
/*
* showFake参数的用途是
* 在低速环境下，让页面跳转后再loading
* loading同时渲染页面数据
*/
showfake: {hideloading: true},
</code></pre>
</script>
