@using System.Configuration;
@{
    ViewBag.Title = "detail";
}
<script type="text/lizard-config">
{
  url_schema: [
    '/detail/{id}.html',
    '/detail/{{city}}{{(int)cityId}}'
  ],
  model:{
    apis: [{
      name: 'api1',
      url: '@ConfigurationManager.AppSettings["restfullApi"]detail/api1',
      postdata: {
        id: Lizard.P('id'),
        key: Lizard.P('key')
      }
    }, {
      name: 'api2',
      url: '@ConfigurationManager.AppSettings["restfullApi"]detail/api2',
      postdata: {
        id: Lizard.P('id'),
        dependents: function() {
          return Lizard.D('api1').request;
        },
        nest: {
          request: (function() {
            // 立即执行的函数不能使用Lizard.D('ap1')
            var even = _.find([1, 2, 3, 4, 5, 6], function(num){ return num % 2 == 0; });

            return even;
          })()
        }
      },
      suspend: function() {
        var api1 = Lizard.D('api1');

        return api1.request == 'api1';
      }
    }, {
      name: 'api3',
      url: '@ConfigurationManager.AppSettings["restfullApi"]detail/api3',
      postdata: {
        id: Lizard.P('id')
      },
      suspend: function() {
        var api1 = Lizard.D('api1');

        return api1.request == 'api2';
      }
    }],
    filter: function(datas) {
      var list = [];

      _.each(datas, function(item) {
        if (!item.list) return;
        list = list.concat(item.list);
      });

      return {
        request: datas[0].request,
        list: list
      };
    },
    setTDK: function(datas) {
      return {
        title: 'title',
        description: 'detail',
        keywords: 'keywords'
     };
   }
  },
  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  controller: '/webapp/demo/webresource/controllers/detail.js'
}
</script>
<script id="viewportTmpl" type="text/lizard-template">
  <h2>suspend test</h2>
  <h3>api name: <%= request %></h3>
  <ul>
    <% _.each(list, function(item) { %>
    <li>
      <%= item.id %>, <%= item.city %>
    <% }) %>
  </ul>
</script>