@{
    ViewBag.Title = "index";
}

<script type="text/lizard-config">
{
  url_schema: 'index',
  model: {
     apis: [],
     filter: function(datas) {
        return {};
     }
  },
  view:{
     viewport: Lizard.T("viewportTmpl")
  },
  viewName: 'demoIndex',
  controller: '/webapp/monitor/dest/webresource/controllers/index.js?v=20150313_15_56'
}
</script>

<script id="viewportTmpl" type="text/lizard-template">
aaabbb
<button class="js-goto">goToasda</button>
</script>

