<appSettings>
  <add key="AppID" value="922201"/>
  <add key="V8RuntimeMax" value="8"></add>
  <add key="V8RuntimePerEngine" value="4"></add>
  <add key="MaxExecutableSize" value="64"></add>
  <add key="MaxOldSpaceSize" value="256"></add>
  <add key="MaxYoungSpaceSize" value="128"></add>
  <add key="SeoProxy-ProxyIP" value=""/>
  <add key="SeoProxy-ProxyPort" value=""/>
  <add key="SeoProxy-IsOpenProxy" value="false"/>
  <add key="LoggingServer.V2.IP" value="192.168.82.58"/>
  <add key="LoggingServer.V2.Port" value="63100"/>
  <add key="FxConfigServiceUrl" value="http://ws.config.framework.ctripcorp.com/configws"/>
</appSettings>