@using System.Configuration;
@{
  ViewBag.Title = "ui";
}
<script type="text/lizard-config">
{
  url_schema: '/ui/calendar',
  model:{
    apis: [],
    filter: function(datas) {
    return {};
    },
    setTDK: function(datas) {
      return {
      };
    }
  },
  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  controller: '/webapp/demo/webresource/controllers/ui/calendar.js'
}
</script>
<script id="viewportTmpl" type="text/lizard-template">
  <button class="js-calendar">日历</button>
</script>