@{
  ViewBag.Title = "Ui index";
}
<script type="text/lizard-config">
{
  url_schema: 'ui/scroll_list',
  viewName: 'scroll_list',
  models: {
    apis: [],
    filter: function(datas) {
      return {

      };
    }
  },
  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  controller: '/webapp/demo2.1/webresource/controllers/ui/scroll_list.js'
}
</script>

<script id="viewportTmpl" type="text/lizard-template">
 <div class="cui-citys-bd">
 </div>
  <pre><code>
if (!this.list) {
  var el = this.$('.js_demo01');
  var demodata = [{ id: '华语' }, { id: '欧美' }, { id: '工作学习' }, { id: '粤语' }, { id: '轻音乐' }, { id: '咖啡' }];
  this.list = new UIRadioList({
    //数据模型
    datamodel: {
      title: '简单应用',
      data: demodata
    },
    displayNum: 5,
    onClick: function (data, index) {
      el.html(data.id);
      this.hide();
    }
  });
}
this.list.show();
    </code></pre>
  <span class="btn-secondary js_demo01">简单应用</span>


  <pre><code>
//这里将标题靠左排列右边加关闭按钮
demo02: function () {
  if (!this.list02) {
    var el = this.$('.js_demo02');
    var demodata = [{ id: '华语' }, { id: '欧美' }, { id: '工作学习' }, { id: '粤语' }, { id: '轻音乐' }, { id: '咖啡' }];
    this.list02 = new UIRadioList({
      //数据模型
      datamodel: {
        title: '简单应用',
        data: demodata
      },
      displayNum: 5,
      onCreate: function () {
        //在创建dom时候处理头部标题
        var $title = this.$('.cui-text-center');
        $title.removeClass('cui-text-center').addClass('cui-text-left');
        $('<div style="float: right;" class="js_close">关闭</div>').insertBefore($title);
      },
      //关闭回调增加
      events: {
        'click .js_close': 'closeAction'
      },
      closeAction: function () {
        this.hide();
      },
      onClick: function (data, index) {
        el.html(data.id);
        this.hide();
      }
    });
  }
  this.list02.show();
},
    </code></pre>
  <span class="btn-secondary js_demo02">标题调整</span>

  <br />
  <br />
  <br />

</script>