@{
  ViewBag.Title = "Ui index";
}
<script type="text/lizard-config">
{
  url_schema: 'ui/slider',
  viewName: 'ui_slider',
  models: {
    apis: [],
    filter: function(datas) {
      return {

      };
    }
  },
  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  controller: '/webapp/demo2.1/webresource/controllers/ui/slider.js'
}
</script>

<script id="viewportTmpl" type="text/lizard-template">
  <style>

    .cm-slide-list .current div {
      background-color: gray !important;
      font-weight: bolder;
    }

  

  </style>
  <div class="cui-citys-bd">
  </div>
<pre><code>
demo01: function () {
  var scope = this;
  var sec = this.$('.js_sec01');
  if (!this.slider01) {
    var data = [
      { id: 1, name: '中国' }, { id: 2, name: '美国' }, { id: 3, name: '英国' }
    ];
    for (var i = 0; i < 20; i++) {
      data.push({ id: i + 4, name: '中国' + i });
    }
    this.slider01 = new UISlider({
      displayNum: 3,
      datamodel: {
        data: data,
        itemFn: function (item) {
          return '&lt;div style="width: 90%; height: 95%; background: white; border: 1px solid black; margin: 2.5% auto; text-align: center; vertical-align: middle;  line-height: 90px; "&gt;' + item.name + '&lt;/div&gt;';
        }
      },
      wrapper: this.$('.demo1'),
      changed: function (item) {
        sec.html('当前选择：' + 'id: ' + item.id + ', ' + 'name: ' + item.name);
      }
    });
  }
  var item = this.slider01.getSelected();
  sec.html('当前选择：' + 'id: ' + item.id + ', ' + 'name: ' + item.name);
  this.slider01.show();
},
  </code></pre>
  <div style=" padding: 10px;">
    这里需要注意，宽度需要是整数倍，比如这里width设置了402，是因为要减少border的值，不然内部滚动项目宽度有小误差
  </div>
  <section class="demo1" style="height:100px; width: 302px ; border: 1px solid black; margin: 0 auto;"></section>
  <br />
  <span class="btn-secondary full-width js_sec01">.btn-secondary</span>
<pre>
<code>
//用车线上实例模拟


</code>
</pre>

</script>